<div class="body-background" style="padding-left: 15px;padding-right: 15px;padding-bottom: 15px">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ngb-tabset #buildsConfigTab>
            <ngb-tab title="Customer Information" id="customer_information">
                <ng-template ngbTabContent>
                    <div class="card-body border" style="height:800px">
                        <div class="row">
                            <div class="col-lg-2" [formGroup]="form.get('customer')">

                                <h4>Customer Information</h4>

                                <div class="col-lg-12">
                                    <label for="customer_name">Customer name</label>
                                    <input id="customer_name" type="text" class="form-control col-lg-12" formControlName="name">
                                </div>

                                <div class="input-group">
                                    <div class="col-lg-6">
                                        <label for="id_letters">Customer ID (letters) </label>
                                        <input id="id_letters" type="text" class="form-control col-lg-11" formControlName="id_letters">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="id_numbers">Customer ID (numbers) </label>
                                        <input id="id_numbers" type="text" class="form-control col-lg-11" formControlName="id_numbers">
                                    </div>
                                </div>
                                <br>
                                <h4>Customer Location</h4>

                                <div class="col-lg-12">
                                    <label for="ITC_location">ITC Location name</label>
                                    <input id="ITC_location" type="text" class="form-control col-lg-12" formControlName="ITC_location">
                                </div>
                                <div class="col-lg-12">
                                    <label for="address_1">Address 1</label>
                                    <input id="address_1" type="text" class="form-control col-lg-12" formControlName="address_1">
                                </div>
                                <div class="col-lg-12">
                                    <label for="address_2">Address 2</label>
                                    <input id="address_2" type="text" class="form-control col-lg-12" formControlName="address_2">
                                </div>
                                <div class="col-lg-12">
                                    <label for="city">City</label>
                                    <input id="city" type="text" class="form-control col-lg-12" formControlName="city">
                                </div>
                                <div class="col-lg-12">
                                    <label for="state">State</label>
                                    <input id="state" type="text" class="form-control col-lg-12" formControlName="state">
                                </div>
                                <div class="col-lg-12">
                                    <label for="zip_code">Zip Code</label>
                                    <input id="zip_code" type="text" class="form-control col-lg-12" formControlName="zip_code">
                                </div>

                            </div>
                            <div class="col-lg-2" [formGroup]="form.get('customer')">
                                <h4>C-Location Continued</h4>
                                <div class="col-lg-12">
                                    <label for="timezone">Timezone</label>
                                    <input id="timezone" type="text" class="form-control col-lg-12" formControlName="timezone">
                                </div>
                                <div class="col-lg-12">
                                    <label for="default_code_area">Default code area</label>
                                    <input id="default_code_area" type="text" class="form-control col-lg-12"
                                        formControlName="default_code_area">
                                </div>
                                <div class="col-lg-12">
                                    <label for="local_dial">Local dial</label>
                                    <input id="local_dial" type="text" class="form-control col-lg-12" formControlName="local_dial">
                                </div>
                                <div class="col-lg-12">
                                    <label for="extension_length">Extension Length</label>
                                    <input id="extension_length" type="text" class="form-control col-lg-12"
                                        formControlName="extension_length">
                                </div>
                                <div class="col-lg-12">
                                    <label for="breakout_code">Breakout code</label>
                                    <input id="breakout_code" type="text" class="form-control col-lg-12" formControlName="breakout_code">
                                </div>
                                <div class="col-lg-12">
                                    <label for="voice_mail_pilot">Voice Mail Pilot</label>
                                    <input id="voice_mail_pilot" type="text" class="form-control col-lg-12"
                                        formControlName="voice_mail_pilot">
                                </div>
                                <br>
                            </div>
                            <div class="col-lg-2">
                                <h4>Domain</h4>
                                <div [formGroup]="form.get('domain')">
                                    <div class="col-lg-12">
                                        <label for="server_domain">Server domain</label>
                                        <input id="server_domain" type="text" class="form-control col-lg-12"
                                            formControlName="server_domain">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="presence_domain">Presence domain</label>
                                        <input id="presence_domain" type="text" class="form-control col-lg-12"
                                            formControlName="presence_domain">
                                    </div>
                                </div>
                                <br>
                                <h4>Size</h4>
                                <div class="col-lg-12">
                                    <label for="size">Build size</label>
                                    <select id="size" class="select-options" formControlName="size">
                                        <option>Small</option>
                                        <option>Medium</option>
                                        <option>Large</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <h4>Unified messaging</h4>
                                <div [formGroup]="form.get('unified_messaging')">
                                    <div class="col-lg-12">
                                        <label for="username_unified_messaging">Username</label>
                                        <input id="username_unified_messaging" type="text" class="form-control col-lg-12" formControlName="username">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="password_unified_messaging">Password</label>
                                        <input id="password_unified_messaging" type="password" class="form-control col-lg-12"
                                            formControlName="password">
                                    </div>
                                </div>
                                <br>
                                <h4>Platform test account</h4>
                                <div [formGroup]="form.get('platform_test_account')">
                                    <div class="col-lg-12">
                                        <label for="username_platform_test_account">Username</label>
                                        <input id="username_platform_test_account" type="text" class="form-control col-lg-12" formControlName="username">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="password_platform_test_account">Password</label>
                                        <input id="password_platform_test_account" type="password" class="form-control col-lg-12"
                                            formControlName="password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h4>Notes</h4>
                                <div class="col-lg-12">
                                    <label for="customer_notes"></label>
                                    <textarea id="customer_notes" rows="15" cols="80" formControlName="customer_notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Infrastructure" id="infrastructure">
                <ng-template ngbTabContent>
                    <div class="card-body border" style="height:800px">
                        <div class="row">
                            <div class="col-lg-2">
                                <h4>Primary Datacenter</h4>
                                <div [formGroup]="form.get('primary_datacenter')">
                                    <div class="col-lg-12">
                                        <label for="datacenter_name">Datacenter</label>

                                        <select id="datacenter_name" class="select-options" formControlName="name">
                                            <option>Denver</option>
                                            <option>Suwanee</option>
                                        </select>

                                    </div>
                                    <div class="col-lg-12">
                                        <label for="datacenter_host_ip">Host IP (seed)</label>
                                        <input id="datacenter_host_ip" type="text" class="form-control col-lg-12" formControlName="host_ip">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="v_lan">vLAN</label>
                                        <input id="v_lan" type="text" class="form-control col-lg-12" formControlName="v_lan">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="host_gateway">Host gateway</label>
                                        <input id="host_gateway" type="text" class="form-control col-lg-12"
                                            formControlName="host_gateway">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="asr_address">ASR Address</label>
                                        <input id="asr_address" type="text" class="form-control col-lg-12" formControlName="asr_address">
                                    </div>
                                </div>
                                <br>
                                <div [formGroup]="form.get('infrastructure')">
                                    <h4>Infrastructure</h4>
                                    <div class="col-lg-12">
                                        <label for="infraestructure_datacenter">Datacenter</label>
                                        <select id="infraestructure_datacenter" class="select-options" formControlName="datacenter">
                                            <option>Denver</option>
                                            <option>Suwanee</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="cluster">Cluster</label>
                                        <select id="cluster" class="select-options" formControlName="cluster">
                                            <option>TEMP-CLU01</option>
                                            <option>cluster_2</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="infraestructure_datastore">Datastore</label>
                                        <select id="infraestructure_datastore" class="select-options" formControlName="datastore">
                                            <option>datastore_1</option>
                                            <option>datastore_2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <h4>Secondary Datacenter</h4>
                                <div [formGroup]="form.get('secondary_datacenter')">
                                    <div class="col-lg-12">
                                        <label for="secondary_datacenter_name">Datacenter</label><br>
                                        <select id="secondary_datacenter_name" class="select-options" formControlName="name">
                                            <option>Denver</option>
                                            <option>Suwanee</option>
                                        </select>

                                    </div>
                                    <div class="col-lg-12">
                                        <label for="secondary_host_ip">Host IP (seed)</label>
                                        <input id="secondary_host_ip" type="text" class="form-control col-lg-12" formControlName="host_ip">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="secondary_v_lan">vLAN</label>
                                        <input id="secondary_v_lan" type="text" class="form-control col-lg-12" formControlName="v_lan">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="secondary_host_gateway">Host gateway</label>
                                        <input id="secondary_host_gateway" type="text" class="form-control col-lg-12"
                                            formControlName="host_gateway">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="secondary_asr_address">ASR Address</label>
                                        <input id="secondary_asr_address" type="text" class="form-control col-lg-12" formControlName="asr_address">
                                    </div>
                                </div>
                                <br>
                                <h4>Additional Network Data</h4>
                                <div [formGroup]="form.get('additional_network_data')">
                                    <div class="col-lg-12">
                                        <label for="vrf">VRF</label>
                                        <input id="vrf" type="text" class="form-control col-lg-12" formControlName="vrf">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="nat_box_ip">NAT Box IP</label>
                                        <input id="nat_box_ip" type="text" class="form-control col-lg-12" formControlName="nat_box_ip">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h4>MRA / Expressway</h4>
                                <div [formGroup]="form.get('mra_expressway')">
                                    <div class="col-lg-6">
                                        <label for="primary_dc_external_ip">Primary DC External IP</label>
                                        <input id="primary_dc_external_ip" type="text" class="form-control col-lg-12"
                                            formControlName="primary_dc_external_ip">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="primary_dc_internal_ip">Primary DC Internal IP</label>
                                        <input id="primary_dc_internal_ip" type="text" class="form-control col-lg-12"
                                            formControlName="primary_dc_internal_ip">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="secondary_dc_external_ip">Secondary DC External IP</label>
                                        <input id="secondary_dc_external_ip" type="text" class="form-control col-lg-12"
                                            formControlName="secondary_dc_external_ip">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="secondary_dc_internal_ip">Secondary DC Internal IP</label>
                                        <input id="secondary_dc_internal_ip" type="text" class="form-control col-lg-12"
                                            formControlName="secondary_dc_internal_ip">
                                    </div>
                                </div>
                                <br>
                                <h4>Additional Services</h4>
                                <div [formGroup]="form.get('additional_services')">
                                    <div class="col-lg-6">
                                        <input id="additional_services_expressway" type="checkbox" style="width: 18px; height: 18px;"
                                            formControlName="expressway">
                                        <label for="additional_services_expressway" style="margin-left:5px"> Expressway</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input id="additional_services_singlewire" type="checkbox" style="width: 18px; height: 18px;"
                                            formControlName="singlewire">
                                        <label for="additional_services_singlewire" style="margin-left:5px"> Singlewire</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input id="additional_services_cuaca" type="checkbox" style="width: 18px; height: 18px;"
                                            formControlName="cuaca">
                                        <label for="additional_services_cuaca" style="margin-left:5px"> CUACA</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input id="additional_services_egw" type="checkbox" style="width: 18px; height: 18px;" formControlName="egw">
                                        <label for="additional_services_egw" style="margin-left:5px"> EGW</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input id="additional_services_hybrid_services" type="checkbox" style="width: 18px; height: 18px;"
                                            formControlName="hybrid_services">
                                        <label for="additional_services_hybrid_services" style="margin-left:5px"> Hybrid Services</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h4>Notes</h4>
                                <div class="col-lg-12">
                                    <label for="infrastructure_notes"></label>
                                    <textarea id="infrastructure_notes" rows="15" cols="80" formControlName="infrastructure_notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Host Data" id="host_data">
                <ng-template ngbTabContent>
                    <div class="card-body border" style="height:800px">
                        <div class="row">
                            <div class="col-lg-2" [formGroup]="form.get('dns_ntp')">
                                <h4>DNS and NTP</h4>
                                <div class="col-lg-12">
                                    <label for="primary_dns">Primary DNS</label>
                                    <input id="primary_dns" type="text" class="form-control col-lg-12" formControlName="primary_dns">
                                </div>
                                <div class="col-lg-12">
                                    <label for="secondary_dns">Secondary DNS</label>
                                    <input id="secondary_dns" type="text" class="form-control col-lg-12" formControlName="secondary_dns">
                                </div>
                                <div class="col-lg-12">
                                    <label for="ntp_server_1">NTP Server 1</label>
                                    <input id="ntp_server_1" type="text" class="form-control col-lg-12" formControlName="ntp_server_1">
                                </div>
                                <div class="col-lg-12">
                                    <label for="ntp_server_2">NTP Server 2</label>
                                    <input id="ntp_server_2" type="text" class="form-control col-lg-12" formControlName="ntp_server_2">
                                </div>
                                <div class="col-lg-12">
                                    <label for="ntp_server_3">NTP Server 3</label>
                                    <input id="ntp_server_3" type="text" class="form-control col-lg-12" formControlName="ntp_server_3">
                                </div>
                                <div class="col-lg-12">
                                    <label for="ntp_server_4">NTP Server 4</label>
                                    <input id="ntp_server_4" type="text" class="form-control col-lg-12" formControlName="ntp_server_4">
                                </div>
                                <div class="col-lg-12">
                                    <label for="ntp_server_5">NTP Server 5</label>
                                    <input id="ntp_server_5" type="text" class="form-control col-lg-12" formControlName="ntp_server_5">
                                </div>
                            </div>
                            <div class="col-lg-2" [formGroup]="form.get('host_data')">
                                <h4>Host Data</h4>
                                <div class="col-lg-12">
                                    <label for="timezone">Timezone</label>
                                    <select id="timezone" class="select-options" formControlName="timezone">
                                        <option>GTM-3</option>
                                        <option>GTM-4</option>
                                        <option>GTM-5</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <label for="continent">Continent</label>
                                    <select id="continent" class="select-options" formControlName="continent">
                                        <option>America</option>
                                        <option>South America</option>
                                        <option>North America</option>
                                        <option>Africa</option>
                                        <option>Asia</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <label for="city_host_data">City</label>
                                    <select id="city_host_data" class="select-options" formControlName="city">
                                        <option>San Francisco</option>
                                        <option>California</option>
                                        <option>Santa Fe</option>
                                        <option>Rosario</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <label for="admin">Admin</label>
                                    <input id="admin" type="text" class="form-control col-lg-12" formControlName="admin">
                                </div>
                                <div class="col-lg-12">
                                    <label for="password_host_data">Password</label>
                                    <input id="password_host_data" type="password" class="form-control col-lg-12" formControlName="password">
                                </div>
                                <div class="col-lg-12">
                                    <label for="security_password">Security password</label>
                                    <input id="security_password" type="password" class="form-control col-lg-12"
                                        formControlName="security_password">
                                </div>
                                <div class="col-lg-12">
                                    <label for="app_user_password">App user password</label>
                                    <input id="app_user_password" type="password" class="form-control col-lg-12"
                                        formControlName="app_user_password">
                                </div>
                            </div>
                            <div class="col-lg-4" [formGroup]="form.get('certificates')">
                                <h4>Certificates</h4>
                                <div class="col-lg-6">
                                    <label for="organization">Certificate Organization</label>
                                    <input id="organization" type="text" class="form-control col-lg-12" formControlName="organization">
                                </div>
                                <div class="col-lg-6">
                                    <label for="unit">Certificate Unit</label>
                                    <input id="unit" type="text" class="form-control col-lg-12" formControlName="unit">
                                </div>
                                <div class="col-lg-6">
                                    <label for="location">Certificate Location</label>
                                    <input id="location" type="text" class="form-control col-lg-12" formControlName="location">
                                </div>
                                <div class="col-lg-6">
                                    <label for="state">Certificate State</label>
                                    <input id="state" type="text" class="form-control col-lg-12" formControlName="state">
                                </div>
                                <div class="col-lg-6">
                                    <label for="country">Certificate Country</label>
                                    <select id="country" class="select-options" formControlName="country">
                                        <option>EE.UU.</option>
                                        <option>Argentina</option>
                                        <option>England</option>
                                        <option>China</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label for="auto_register_primary">Auto register primary</label>
                                    <input id="auto_register_primary" type="text" class="form-control col-lg-12"
                                        formControlName="auto_register_primary">
                                </div>
                                <div class="col-lg-6">
                                    <label for="app_user_username">App user username</label>
                                    <input id="app_user_username" type="text" class="form-control col-lg-12"
                                        formControlName="app_user_username">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h4>Notes</h4>
                                <div class="col-lg-12">
                                    <label for="host_data_notes"></label>
                                    <textarea id="host_data_notes" rows="15" cols="80" formControlName="host_data_notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="VM's model" id="vm_model">
                <ng-template ngbTabContent>
                    <div class="card-body border" style="height:800px">
                        <div class="row">
                            <div class="col-lg-2">

                                <ngb-tabset #vmTabs (tabChange)="onTabChange($event)" type="pills"
                                    [orientation]="vertical">
                                    <ngb-tab title="CM Publisher    Denver" id="cm_publisher">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="CM Subscriber   Denver" id="cm_subscriber_1">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="CM Subscriber   Suwanee" id="cm_subscriber_2">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="IM&P Subscriber   Denver" id="imp_subscriber_1">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="IM&P Subscriber   Suwanee" id="imp_subscriber_2">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="CUCx Publisher  Suwanee" id="cucx_publisher">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="CUCx Subscriber  Denver" id="cucx_subscriber">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab [disabled]="true" title="Expressway C&E  Suwanee" id="expressway_1">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab [disabled]="true" title="Expressway C&E  Denver" id="expressway_2">
                                        <ng-template ngbTabContent>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>

                            </div>
                            <div class="col-lg-2">
                                <h4>VM Information</h4>
                                <div class="col-lg-12">
                                    <label>VM name</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.vm_name}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Host name</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_name}}">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <h4>VM Config</h4>
                                <div class="col-lg-12">
                                    <label>Host IP (Calculated)</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_ip}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>vLAN</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.v_lan}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Host gateway</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_gateway}}">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <h4>DNS and NTP</h4>
                                <div class="col-lg-12">
                                    <label>Primary DNS</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.dns_ntp.primary_dns}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Secondary DNS</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.dns_ntp.secondary_dns}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>NTP Server 1</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.dns_ntp.ntp_server_1}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>NTP Server 2</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.dns_ntp.ntp_server_2}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>NTP Server 3</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.dns_ntp.ntp_server_3}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>NTP Server 4</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.dns_ntp.ntp_server_4}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>NTP Server 5</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.dns_ntp.ntp_server_5}}">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <h4>Host Data</h4>
                                <div class="col-lg-12">
                                    <label>Timezone</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_data.timezone}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Continent</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_data.continent}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>City</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_data.city}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Admin</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_data.admin}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Password</label>
                                    <input type="password" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_data.password}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Security password</label>
                                    <input type="password" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_data.security_password}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>App user password</label>
                                    <input type="password" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.host_data.app_user_password}}">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <h4>Certificates</h4>
                                <div class="col-lg-12">
                                    <label>Certificate Organization</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.certificates.organization}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Certificate Unit</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.certificates.unit}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Certificate Location</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.certificates.location}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Certoficate State</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.certificates.state}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Certificate Country</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.certificates.country}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>Auto register primary</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.certificates.auto_register_primary}}">
                                </div>
                                <div class="col-lg-12">
                                    <label>App user username</label>
                                    <input type="text" class="form-control col-lg-12" disabled
                                        value="{{currentVM?.certificates.app_user_username}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="DNS Records" id="dns_records">
                <ng-template ngbTabContent>
                    <div class="card-body border" style="height:800px">
                        <div class="row">
                            <div class="col-lg-4">
                                <h4>DNS A Records</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width: 50%">DNS</th>
                                            <th style="width: 50%">IP</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let dns_record of currentBuild.dns_records.dns_to_ip">
                                            <tr>
                                                <td>{{currentBuild.customer.id_letters}}{{dns_record.dns}}</td>
                                                <td>{{dns_record.ip}}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-4">
                                <h4>Reverse DNS Records</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width: 50%">IP</th>
                                            <th style="width: 50%">DNS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let dns_record of currentBuild.dns_records.dns_to_ip">
                                            <tr>
                                                <td>{{dns_record.ip}}</td>
                                                <td>{{currentBuild.customer.id_letters}}{{dns_record.dns}}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab [disabled]="true" title="ASR / SONUS" id="asr_sonus">
                <ng-template ngbTabContent>
                    <div class="card-body border" style="height:800px">
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>

        <div class="row pt-3">
            <div class="col-lg">
                <button type="button" class="btn btn-primary" (click)="back()">Back</button>
            </div>
            <div class="col-lg d-flex justify-content-end">
                <input class="btn btn-warning mr-2" type="submit"
                    [disabled]="!(currentBuild.status!='Completed')" value="Save" />
                <button type="button" class="btn btn-secondary mr-2" (click)="calculateData()">Calculate data</button>
                <button type="button" class="btn btn-info mr-2" (click)="validationLogs(currentBuild.id)"
                    [disabled]="(currentBuild.id=='0')">Validation Log</button>
                <button type="button" class="btn btn-primary" (click)="validateProvision(currentBuild.id)"
                    [disabled]="((currentBuild.status=='Completed') || currentBuild.id=='0')">Validate
                    Provision</button>
            </div>
        </div>
    </form>
</div>