<div class="row">
    <div class="col-lg-2">
        <ngb-tabset #vmTabs (tabChange)="onTabChange($event)" type="pills" [orientation]="vertical">
            <ngb-tab title="CM Publisher {{primaryDatacenter}}" id="cmPrimaryPublisher">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="CM Subscriber {{primaryDatacenter}}" id="cmPrimarySubscriber">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="CM Subscriber {{secondaryDatacenter}}" id="cmSecondarySubscriber">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="IM&P Subscriber {{primaryDatacenter}}" id="impPrimarySubscriber">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="IM&P Subscriber {{secondaryDatacenter}}" id="impSecondarySubscriber">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="CUCx Subscriber {{primaryDatacenter}}" id="cucxPrimarySubscriber">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="CUCx Publisher {{secondaryDatacenter}}" id="cucxSecondaryPublisher">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab [disabled]="true" title="Expressway Edge {{primaryDatacenter}}" id="expePrimaryPublisher">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab [disabled]="true" title="Expressway Core {{primaryDatacenter}}" id="expcPrimarySubscriber">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab [disabled]="true" title="Expressway Core {{secondaryDatacenter}}" id="expeSecondaryPublisher">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab [disabled]="true" title="Expressway Edge {{secondaryDatacenter}}" id="expcSecondarySubscriber">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <div class="col-lg-2">
        <h4>VM Information</h4>
        <label>VM name</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.vm_name}}">
        <label>Host name</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.host_name}}">
    </div>
    <div class="col-lg-2">
        <h4>VM Config</h4>
        <label>Host IP (Calculated)</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.host_ip}}">
        <label>vLAN</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.v_lan}}">
        <label>Host gateway</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.host_gateway}}">
    </div>
    <div class="col-lg-2">
        <h4>DNS and NTP</h4>
        <label>Primary DNS</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.dns_ntp?.primary_dns}}">
        <label>Secondary DNS</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.dns_ntp?.secondary_dns}}">
        <label>NTP Server 1</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.dns_ntp?.ntp_server_1}}">
        <label>NTP Server 2</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.dns_ntp?.ntp_server_2}}">
        <label>NTP Server 3</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.dns_ntp?.ntp_server_3}}">
        <label>NTP Server 4</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.dns_ntp?.ntp_server_4}}">
        <label>NTP Server 5</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.dns_ntp?.ntp_server_5}}">
    </div>
    <div class="col-lg-2">
        <h4>Host Data</h4>
        <label>Timezone</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.host_data?.timezone}}">
        <label>Continent</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.host_data?.continent}}">
        <label>City</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.host_data?.city}}">
        <label>Admin</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.host_data?.admin}}">
        <label>Password</label>
        <input type="password" class="form-control" disabled value="{{currentVirtualMachine?.host_data?.password}}">
        <label>Security password</label>
        <input type="password" class="form-control" disabled
            value="{{currentVirtualMachine?.host_data?.security_password}}">
        <label>App user password</label>
        <input type="password" class="form-control" disabled
            value="{{currentVirtualMachine?.host_data?.app_user_password}}">
    </div>
    <div class="col-lg-2">
        <h4>Certificates</h4>
        <label>Certificate Organization</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.certificates?.organization}}">
        <label>Certificate Unit</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.certificates?.unit}}">
        <label>Certificate Location</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.certificates?.location}}">
        <label>Certoficate State</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.certificates?.state}}">
        <label>Certificate Country</label>
        <input type="text" class="form-control" disabled value="{{currentVirtualMachine?.certificates?.country}}">
        <label>Auto register primary</label>
        <input type="text" class="form-control" disabled
            value="{{currentVirtualMachine?.certificates?.auto_register_primary}}">
        <label>App user username</label>
        <input type="text" class="form-control" disabled
            value="{{currentVirtualMachine?.certificates?.app_user_username}}">
    </div>
</div>