<nav class="navbar custom-margin custom-background" >

  <div class="container-fluid">

      <a class="col-lg-2">
          <img src="../assets/images/intrado-logo-xs.png" style="width:200px;" align="right">

        </a>

      <div class="col-lg-8" align="center">
          <br>
          <h1>
            {{title}}
          </h1>
      
      </div>

      <div class="col-lg-2" style="padding-top: 20px" align="right" > 
          <div [hidden]=!showLogout>
            User: Platform Engineer's name <br>       
            <button class="btn btn-link" (click)="logout()">Logout</button>
          </div>
      </div>

  </div>

</nav>
    
<router-outlet></router-outlet>

