<div class="container col-lg-12 ">
    <div class="card">

        <div class="card-header">
            <div class="row">
                <div class="col-lg-8" align="center">
                    <h3>Customer Input Information</h3>
                </div>
                <div class="col-lg-4">
                    <h3>Network Information</h3>
                </div>
            </div>
        </div>

    <div class="card-body scroll " >
        <div class="row">    
            <div class="col-lg-8" >
                <div class="container">
                    <div class="row card-body  ">
                        <div class="col-lg-6">
                            <h5>Customer Name</h5>
                            <div class="input-group">
                                <div class="col-lg-12">
                                    <label >Customer ID (####ABC)</label>
                                    <input type="text" class="form-control col-lg-6" name="customerID" [(ngModel)]="customerID">
                                </div>     
                            </div>
                            <div class="input-group">
                                    <div class="col-lg-12">
                                        <label >Customer Name </label>
                                        <input type="text" class="form-control col-lg-6" name="customerName" [(ngModel)]="customerName">
                                    </div>     
                                </div>
                            <br>

                            <h5>DNS</h5>
                            <div class="input-group">
                                <div class="col-lg-6">
                                    <label >Primary</label>
                                    <input type="text" class="form-control col-lg-12" name="customerUsername">     
                                </div>
                                <div class="col-lg-6">
                                    <label >Secondary</label>
                                    <input type="text" class="form-control col-lg-12" name="customerUsername">     
                                </div>    
                            </div>
                            <br>

                            <h5>Active Directory</h5>

                            <div class="input-group">
                                <div class="col-lg-6">
                                    <label  >Username</label>
                                    <input type="text" class="form-control" name="adUsername"> 
                                </div>
                                <div class="col-lg-6">
                                    <label >Password</label>
                                    <input type="password" class="form-control" name="password">     
                                </div>
                          
                                <div class="col-lg-12">
                                        <label >Search Base</label>
                                        <input type="text" class="form-control col-lg-6" name="searchbase">  
                                    </div> 
                                <div class="col-lg-6">
                                    <label >IP</label>
                                    <input type="text" class="form-control col-lg-12" name="ip">   
                                </div>   
                                <div class="col-lg-6">
                                    <label >Secondary IP (Optional)</label>
                                    <input type="text" class="form-control col-lg-12" name="secondaryip"> 
                                </div>       
                                
                            
                                <div class="col-lg-12">
                                    <label >Port</label>
                                    <input type="number" class="form-control col-lg-6" name="port">     
                                </div>       
                            </div> 
                           
                        
                            
                           
                        </div>
                        <div class="col-lg-6">
                                
                            <h5>Quantities</h5>
                            <div>
                                <label>Number of Users</label>
                                <input type="number" class="form-control col-lg-8" name="customerUsername">    
                            </div>
                            <br>

                            <div>
                                <label>Number of Sites</label>
                                <input type="number" class="form-control col-lg-8" name="customerUsername">    
                            </div>
                            <br>
                            <h5>Additional Services</h5>
                            <div class="info-text">
                                <label>(Checking any of the below boxes will require additional information before proceeding)</label>
                            </div>
                            <div align="left">
                                <input type="checkbox" class="col-lg-1"  name="expressway">
                                <label>Expressway</label>   
                            </div>
                            <div align="left">
                                <input type="checkbox" class="col-lg-1" name="customerUsername">   
                                <label>Hybrid Calling/Calendar</label>
                            </div>
                            <div align="left">
                                <input type="checkbox" class="col-lg-1" name="customerUsername">                      
                                <label>Attendant Console</label>
                            </div>
                            <div align="left">
                                <input type="checkbox" class="col-lg-1" name="customerUsername">   
                                <label>EGW</label>
                            </div>
                            <div align="left">
                                <input type="checkbox" class="col-lg-1" name="customerUsername">   
                                <label>CCCE</label>
                            </div>

                        </div>     
                    </div>            
                </div>
            </div>
            <div class="card-body col-lg-4">
                    <h5>Desired Extension Length</h5>
                    <div class="info-text">
                        <label>(Multiple or variable length extensions will require an engineering consulation)</label>
                    </div>
                    <div class="input-group">
                        <div class="col-lg-12">
                            <label >Extension length  (4-10 numbers)</label>
                            <input type="text" class="form-control col-lg-6" name="customerUsername">  
                        </div>
                    </div>    
                    
            </div>
        </div>
    </div>

    <div class="card-footer" align="center">
        <button class="btn btn-primary col-lg-3 offset-lg-9" (click)="onSubmit()" type="submit">Provision VM</button>
    </div> 
</div>
</div>


