/* You can add global styles to this file, and also import other style files */

.is-invalid-label input:not(:focus) {
    border-color: #cc4b37;
    background-color: #f9ecea
}

.is-invalid-label input:not(:focus)::-webkit-input-placeholder {
    color: #cc4b37
}

.is-invalid-label input:not(:focus)::-moz-placeholder {
    color: #cc4b37
}

.is-invalid-label input:not(:focus)::-ms-input-placeholder {
    color: #cc4b37
}

.is-invalid-label input:not(:focus)::placeholder {
    color: #cc4b37
}

.is-invalid-label {
    color: #cc4b37
}

.form-error {
    display: none;
    color: #cc4b37
}

.form-error.is-visible {
    display: block
}

.nav-tabs a.invalid{
    border-color: red;
    color: red;
}